# ┌──────────────────────────────────────────────────────────┐
# │                  Spring Boot / Java                      │
# └──────────────────────────────────────────────────────────┘

# Скомпилированные классы и папка сборки
target/

# Maven
.mvn
mvnw
mvnw.cmd

# Логи
*.log
logs/

# ┌──────────────────────────────────────────────────────────┐
# │                Локальные конфиги и секреты               │
# └──────────────────────────────────────────────────────────┘

# Файлы окружения
.env
.env.local
.env.*

# ┌──────────────────────────────────────────────────────────┐
# │                        GIT                               │
# └──────────────────────────────────────────────────────────┘

.gitattributes

# ┌──────────────────────────────────────────────────────────┐
# │                       IDE файлы                          │
# └──────────────────────────────────────────────────────────┘

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nb-configuration.xml
nbactions.xml
nbproject/

# VS Code
.vscode/

# ┌──────────────────────────────────────────────────────────┐
# │                        Прочее                            │
# └──────────────────────────────────────────────────────────┘

# Временные файлы
*.tmp
*.bak
*.swp
*~.nib

# OS файлы
.DS_Store
Thumbs.db